
<div id="fullPage">
  <div id="brandingWrapper" class="float">
    <div id="branding" class="illustrationClass"></div>
  </div>
  <div id="contentWrapper" class="float">
    <div id="content">
      <div id="header">
        <img class="logoImage" src="/assets/images/logo.png" alt="SSO">
      </div>
      <div id="workArea">
        <div id="authArea" class="groupMargin">
          <div id="loginArea">
            <login></login>
          </div>
        </div>
        <div id="footerPlaceholder"></div>
      </div>
      <div id="footer">
        <div id="footerLinks" class="floatReverse">
          <div><span id="copyright">© 2021</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
