<mat-toolbar fxLayoutAlign="center center">
  <h4>People</h4>
  <span class="nav-spacer"></span>
  <table-updater [tableComponent]="this" updaterFunctionName="changePage"></table-updater>
  <ng-template [ngxPermissionsOnly]="['Administrator', 'administrator']">
    <button mat-raised-button matTooltip="{{ windowWidth() < 769 ? 'person' : ''}}" fxLayoutAlign="center center" color="accent" (click)="openDialog('PeopleDetails')">
      <mat-icon>add</mat-icon>
      <span class="hidden-sm">{{'People'}}</span>
    </button>
  </ng-template>

</mat-toolbar>

<div>
    <loading-spinner size="100" [loading$]="entityService.loading$" class="center"></loading-spinner>

    <table mat-table [dataSource]="dataSource$" class="table" matSort
           matSortActive="id" matSortDisableClear matSortDirection="desc"
           (matSortChange)="sortChange()">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>

      <ng-container matColumnDef="table-options" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">

          <ng-template [ngxPermissionsOnly]="['Administrator', 'administrator']">
            <button mat-icon-button matTooltip="{{'delete' | translate}}" color="accent" (click)="$event.stopPropagation();openDeleteConfirmation(row);">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-template>

        </td>
      </ng-container>

 <!-- Item Description Column -->
 <ng-container matColumnDef="id-filter">
  <th mat-header-cell *matHeaderCellDef>
    <mat-form-field>
      <input matInput #filterId placeholder="filter id" [(ngModel)]="idFilter" (blur)="changePage()" (keydown.enter)="filterId.blur()">
    </mat-form-field>
  </th>
</ng-container>

<!-- Item Description Column -->
<ng-container matColumnDef="name-filter">
  <th mat-header-cell *matHeaderCellDef>
    <mat-form-field>
      <input matInput #filterName placeholder="filter name" [(ngModel)]="nameFilter" (blur)="changePage()" (keydown.enter)="filterName.blur()">
    </mat-form-field>
  </th>
</ng-container>

<!-- Cost Description Column -->
<ng-container matColumnDef="email-filter">
  <th mat-header-cell *matHeaderCellDef>
    <mat-form-field>
      <input matInput #filterEmail placeholder="filter email" [(ngModel)]="emailFilter" (blur)="changePage()" (keydown.enter)="filterEmail.blur()">
    </mat-form-field>
  </th>
</ng-container>
<!-- Cost Description Column -->
<ng-container matColumnDef="options-filter">
  <th mat-header-cell *matHeaderCellDef></th>
</ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="['id-filter', 'name-filter', 'email-filter', 'options-filter']" class="example-second-header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" matTooltip="{{row.name}}" (click)="changeLocation('PeopleDetails',row)" class="mat-table-item"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[pageSize, pageSize * 2, pageSize * 3, pageSize * 4]" [length]="pageLength" showFirstLastButtons (page)="changePage()"></mat-paginator>

</div>
