<div fxLayout="row wrap">
  <div class="col-xs-12 mb-4">
    <p>
      <strong>About Angular Sample Template</strong>
    </p>
    <p>Angular Sample Template: ​</p>
    <ul>
      <li>Create a new Application from a template using Angular 11</li>
      <li>Use State and Entity Adapter patterns with NGRX-Data library</li>
    </ul>
  </div>
</div>
<div fxLayout="row wrap">
  <div class="col-xs-12 mb-5">
    <p>
      <strong>
        Angular Sample Template
      </strong>
    </p>
  </div>
</div>
