$md-white: ( 50 : #ffede0, 100 : #ffd1b3, 200 : #ffb380, 300 : #ff944d, 400 : #ff7d26, 500 : #ff6600, 600 : #ff5e00, 700 : #ff5300, 800 : #ff4900, 900 : #ff3800, A100 : #ffffff, A200 : #fff4f2, A400 : #ffc9bf, A700 : #ffb4a6, contrast: ( 50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #000000, 500 : #000000, 600 : #000000, 700 : #ffffff, 800 : #ffffff, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #000000, A700 : #000000, ) );
$md-browngrey: ( 50 : #f0f0f0, 100 : #dadada, 200 : #c2c2c2, 300 : #a9a9a9, 400 : #969696, 500 : #848484, 600 : #7c7c7c, 700 : #717171, 800 : #676767, 900 : #545454, A100 : #f9c6c6, A200 : #f49898, A400 : #ff5a5a, A700 : #ff4141, contrast: ( 50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #000000, 500 : #ffffff, 600 : #ffffff, 700 : #ffffff, 800 : #ffffff, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #000000, A700 : #ffffff, ) );


.mat-white {
  color: #000 !important;
  background-color: #fff !important;
}
.mat-white[disabled] {
  background-color: rgba(0, 0, 0, 0.12) !important;
}
