<mat-toolbar>
  <button *ngIf="!!userData && showMenuBars === true" type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()" color="primary">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="nav-brand">
    <img src="assets/images/logo.png"
         class="hidden-xsm">
  </div>
  <span *ngIf="showTitle === true" class="head-title">Sample App</span>
 <span class="nav-spacer"></span>
 <div *ngIf="!!userData && !isMobile" matTooltip="{{ windowWidth() < 769 ? (utf8_encode(userData.name)) : ''}}" matTooltipClass='black-tooltip' fxLayoutAlign="center center">
  <mat-icon color="accent">account_circle</mat-icon>
  <span *ngIf="!isProduction" class="header-username hidden-sm" (click)="showProfilesPicker()">{{(utf8_encode(userData.name))}}</span>
  <span *ngIf="isProduction" class="header-username hidden-sm">{{(utf8_encode(userData.name))}}</span>
</div>
<logout *ngIf="!!userData" color="accent" [iconOnly]="true" fxLayoutAlign="center center"></logout>
</mat-toolbar>

