<button mat-icon-button matTooltip="refresh" fxLayoutAlign="center center" color="accent" (click)="executeUpdate()">
  <mat-icon>refresh</mat-icon>
</button>
<mat-label *ngIf="selectedValue != '0'">auto update </mat-label>
<mat-form-field>

  <mat-select [(value)]="selectedValue" (selectionChange)="selectChange()">
    <mat-option value="0">
      no autoupdate
    </mat-option>
    <mat-option *ngFor="let minute of minutes" [value]="minute">
      every {{minute}} {{minute === 1 ? 'minute' : 'minutes'}}
    </mat-option>
  </mat-select>
</mat-form-field>
