.app-name {
  margin-top: 0px;
  padding-bottom: 10px;
  font-size: 32px;
  text-align: center;
}

.login-form {
  padding: 40px;
  background: #fff;
  width: 500px;
  box-shadow: 0 0 10px #ddd;
}

.text-center {
  text-align: center;
}
